{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "components/dashboard-head.html" %}

<body>
    {% csrf_token %}
    {% include "components/dashboard-preloader.html" %}
    <div id="main-wrapper">
        {% include "components/dashboard-topnav.html" %}
    </div>
    {% include "components/dashbaord-sidebar.html" %}
    <div class="page-title dashboard">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <div class="page-title-content">
                        <p>Welcome Back,
                            <span> {{user.first_name}}</span>
                        </p>
                    </div>
                </div>
                <div class="col-6">
                    <ul class="text-right breadcrumbs list-unstyle">
                        <li><a href="{% url 'home:setting'%}">Settings </a></li>
                        <li class="active"><a href="#">Security</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content-body">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Buy</h4>
                        </div>
                        <div class="card-body">
                            <div class="buy-sell-widget">
                                <form method="post" name="myform" class="currency_validate" id="buying">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="mr-sm-2">Cryptocurrency</label>
                                        <div class="input-group mb-3">
                                            <select name='currency' class="form-control mw-300">
                                                <!-- mw-150 -->
                                                <option data-display="Bitcoin at {{price}} USD" value="bitcoin">
                                                    Bitcoin
                                                </option>
                                                <!-- <option value="litecoin">Litecoin</option> -->
                                            </select>
                                            <!-- <input type="text" name="btc_amount" class="form-control text-right"
                                                    value="" placeholder="{{ price }} USD"> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="mr-sm-2">With</label>
                                        <div class="input-group mb-3">
                                            <select name='currency' class="form-control">
                                                <option data-display="Tether" value="Tether">Tether
                                                </option>
                                                <!-- <option value="litecoin">Litecoin</option> -->
                                            </select>
                                            <!-- <input type="text" name="usd_amount" class="form-control"
                                                    value="125.00 USD"> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="mr-sm-2">Enter amount</label>
                                        <div class="input-group">
                                            <input type="text" name="btc-amount" id="amount" class="form-control"
                                                placeholder="{{amount}} BTC">
                                            <!-- <input type="text" name="usd_amount" class="form-control"
                                                    placeholder="125.00 USD"> -->
                                        </div>
                                        <div class="d-flex justify-content-between mt-3">
                                            <p class="mb-0">Balance:</p>
                                            <h6 class="mb-0" id="remaining">{{balance|floatformat:2}} USD</h6>
                                        </div>
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-success btn-block">Buy
                                        Virtually</button>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Sell</h4>
                        </div>
                        <div class="card-body">
                            <div class="buy-sell-widget">
                                <form method="post" name="myform" class="currency_validate" id="selling">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label class="mr-sm-2">Cryptocurrency</label>
                                        <div class="input-group mb-3">
                                            <select name='currency' class="form-control mw-300">
                                                <option data-display="Bitcoin at {{price}} USD" value="bitcoin">
                                                    Bitcoin
                                                </option>
                                                <!-- <option value="litecoin">Litecoin</option> -->
                                            </select>
                                            <!-- <input type="text" name="usd_amount" id="amount-id" class="form-control text-right"
                                                    value="" placeholder="{{amount}} BTC"> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="mr-sm-2">Receive</label>
                                        <div class="input-group mb-3">
                                            <select name='currency' class="form-control">
                                                <option data-display="Tether" value="Tether">Tether
                                                </option>
                                                <!-- <option value="litecoin">Litecoin</option> -->
                                            </select>
                                            <!-- <input type="text" name="usd_amount" class="form-control"
                                                    value="125.00 USD"> -->
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="mr-sm-2">Enter amount</label>
                                        <div class="input-group">
                                            <input required type="text" name="btc-amount-sell" id="amount_sell"
                                                class="form-control" placeholder="{{amount}} BTC">
                                            <!-- <input type="text" name="usd_amount" class="form-control"
                                                    placeholder="125.00 USD"> -->
                                        </div>
                                        <div class="d-flex justify-content-between mt-3">
                                            <p class="mb-0">Balance:</p>
                                            <h6 class="mb-0" id="remaining-btc">{{btc|floatformat:6}} BTC</h6>
                                        </div>
                                    </div>
                                    <button type="submit" name="submit" class="btn btn-danger btn-block">Sell
                                        Virtually</button>

                                </form>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- <div class="col-xl-9 col-lg-9 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="buyer-seller">
                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="buyer-info">
                                            <div class="media">
                                                <img class="mr-3 rounded" src="./images/avatar/2.jpg" alt="">
                                                <div class="media-body">
                                                    <h4>Buyer</h4>
                                                    <h5 class="text-body">Michael John</h5>
                                                    <a href="#" class="text-body">{{ user.email}}</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="seller-info text-right">
                                            <div class="media">
                                                <div class="media-body">
                                                    <h4>Seller</h4>
                                                    <h5 class="text-body">John Doe</h5>
                                                    <a href="#" class="text-body">{{ user.email}}</a>
                                                </div>
                                                <img class="ml-3 rounded" src="./images/avatar/5.jpg" alt="">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table table-striped">
                                            <tbody>
                                                <tr>
                                                    <td><span class="text-primary">You are selling</span></td>
                                                    <td><span class="text-primary">0.00254 BTC</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Payment Method</td>
                                                    <td>Bank of America Bank ***********5245</td>
                                                </tr>
                                                <tr>
                                                    <td>Exchange Rate</td>
                                                    <td>0.00212455 BTC</td>
                                                </tr>
                                                <tr>
                                                    <td>Fee</td>
                                                    <td>$28.00 USD</td>
                                                </tr>
                                                <tr>
                                                    <td>Total</td>
                                                    <td>$854.00 USD</td>
                                                </tr>
                                                <tr>
                                                    <td>Vat</td>
                                                    <td>
                                                        <div class="text-danger">$25.00 USD</div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td> Sub Total</td>
                                                    <td> $1232.00 USD</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> -->

                <!-- Bank of America Bank  -->

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">All activities</h4>
                        </div>
                        <div class="card-body">
                            <div class="transaction-table">
                                <div class="table-responsive">

                                    <table class="table table-striped mb-0 table-responsive-sm" id="activitytable">
                                        <thead>
                                        </thead>
                                        <tbody>
                                            {% if range %}
                                            {% for i in object %}
                                            <tr>
                                                <td><span class="sold-thumb"><i class="mdi mdi-arrow-down"></i></span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-{{i.color}} p-2">
                                                        {{i.types}}
                                                    </span>
                                                </td>
                                                <td>
                                                    <i class="cc {{coin}}"></i> {{coin}}
                                                </td>
                                                <td>
                                                    User - {{user}}
                                                </td>
                                                <td class="text-{{i.color}}">
                                                    {% if i.types == 'Buy' %}
                                                    <span class="text-success" id="buyhere">
                                                        +{{i.amount|floatformat:4}} BTC
                                                    </span>
                                                    {% else %}
                                                    <span class="text-danger">
                                                        -{{i.amount|floatformat:4}} BTC
                                                    </span>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if i.types == 'Buy' %}
                                                    <span class="text-danger">
                                                        -{{i.usd|floatformat}} USDT
                                                    </span>
                                                    {% else %}
                                                    <span class="text-success">
                                                        +{{i.usd|floatformat}} USDT
                                                    </span>
                                                    {% endif %}
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endif %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% if not botname %}

                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Creat a Trade Bot</h4>
                        </div>
                        <div class="card-body">
                            <form method="post" name="botform" class="botform" id="botform">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label class="mr-sm-2">Enter the name of the Bot</label>
                                    <div class="input-group">
                                        <input type="text" name="bot-name" id="amount" class="form-control"
                                            placeholder="Name of the Bot" required>
                                    </div>
                                    <label class="mr-sm-2 mt-3">Assign a Signal</label>
                                    <div class="input-group mb-3">
                                        <select name='bot-signal' class="form-control">
                                            <option data-display="CryptoGnome Signals" value="CryptoGnome Signals"
                                                selected>CryptoGnome Signals
                                            </option>
                                            <option data-display="Jackrabbit Premium Sampler"
                                                value="Jackrabbit Premium Sampler">Jackrabbit Premium Sampler
                                            </option>
                                            <option data-display="Killer Whale Bank Robber Signals"
                                                value="Killer Whale Bank Robber Signals">Killer Whale Bank Robber
                                                Signals
                                            </option>
                                        </select>
                                    </div>
                                    <label class="mr-sm-2">Amount of each signal buy</label>
                                    <div class="input-group">
                                        <input type="text" name="btc-amount" id="amount" class="form-control"
                                            placeholder="0.0 BTC" required>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-2">
                                            {% if botstatus %}
                                            <button type="submit" name="deletebot" class="btn btn-danger btn-block">Delete the Bot</button>
                                            {% else %}
                                            <button type="submit" name="startbot" class="btn btn-success btn-block">Start the Bot</button>
                                            {% endif %}
                                        </div>
                                        <div class="col-2">
                                            {% if botstatus %}
                                            <button type="submit" name="pausebot" class="btn btn-info btn-block">Pause the Bot</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if botname %}
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Running Bot</h4>
                        </div>
                        <div class="card-body">
                            <p>Name: {{botname}}</p>
                            <p>Signal: {{botsignal}}</p>
                            <p>Buying amount per signal: {{botamount}}</p>
                            <p>Create Date: {{botdate}}</p>
                            <p>Status: {% if botstatus %} Running {% else %} Paused {% endif %}</p>
                            <p>Profit: {{botbenefit}}%</p>
                        </div>
                        <form method="post" name="startbot" class="botform" id="botform">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="row mt-2 ml-2">
                                    <div class="col-2">
                                        {% if botstatus %}
                                        <button type="submit" name="stopbot" class="btn btn-danger btn-block">Stop the
                                            Bot</button>
                                        {% else %}
                                        <button type="submit" name="startbot" class="btn btn-success btn-block">Start
                                            the Bot</button>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                {% if botstatus %}
                <div class="col-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Bot Activities</h4>
                        </div>
                        <div class="card-body">
                            <div class="transaction-table">
                                <div class="table-responsive">
                                    <table class="table table-striped mb-0 table-responsive-sm" id="signaltable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Number</th>
                                                <th scope="col">Type</th>
                                                <th scope="col">Amount</th>
                                                <th scope="col">Pair</th>
                                                <th scope="col">Price</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endif %}
                <!-- <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">FAQ</h4>
                            </div>
                            <div class="card-body">
                                <div id="accordion-faq" class="accordion">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed c-pointer" data-toggle="collapse"
                                                data-target="#collapseOne1" aria-expanded="false"
                                                aria-controls="collapseOne1"><i class="fa" aria-hidden="true"></i>What
                                                Shipping Methods are Available?</h5>
                                        </div>
                                        <div id="collapseOne1" class="collapse show" data-parent="#accordion-faq">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed c-pointer" data-toggle="collapse"
                                                data-target="#collapseTwo2" aria-expanded="false"
                                                aria-controls="collapseTwo2"><i class="fa" aria-hidden="true"></i>How
                                                Long Will it Take To Get My Package?</h5>
                                        </div>
                                        <div id="collapseTwo2" class="collapse" data-parent="#accordion-faq">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed c-pointer" data-toggle="collapse"
                                                data-target="#collapseThree3" aria-expanded="false"
                                                aria-controls="collapseThree3"><i class="fa" aria-hidden="true"></i>How
                                                Do I Track My Order?</h5>
                                        </div>
                                        <div id="collapseThree3" class="collapse" data-parent="#accordion-faq">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed c-pointer" data-toggle="collapse"
                                                data-target="#collapseThree4" aria-expanded="false"
                                                aria-controls="collapseThree4"><i class="fa" aria-hidden="true"></i>Do I
                                                Need A Account To Place Order?</h5>
                                        </div>
                                        <div id="collapseThree4" class="collapse" data-parent="#accordion-faq">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0 collapsed c-pointer" data-toggle="collapse"
                                                data-target="#collapseThree5" aria-expanded="false"
                                                aria-controls="collapseThree5"><i class="fa" aria-hidden="true"></i>How
                                                do I Place an Order?</h5>
                                        </div>
                                        <div id="collapseThree5" class="collapse" data-parent="#accordion-faq">
                                            <div class="card-body">Anim pariatur cliche reprehenderit, enim eiusmod high
                                                life accusamus terry richardson ad squid. 3 wolf moon officia aute, non
                                                cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
                                                eiusmod.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12">
                        <div class="intro-video-play">
                            <div class="play-btn">
                                <a class="popup-youtube" href="https://www.youtube.com/watch?v=IjzUwnqWc5Q">
                                    <span><i class="fa fa-play"></i></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->

                {% include "components/dashboard-footer.html" %}
                <script src="{% static './js/global.js' %}"></script>

                <script src="{% static './vendor/waves/waves.min.js' %}"></script>
                <script src="{% static './vendor/magnific-popup/magnific-popup.js' %}"></script>
                <script src="{% static './vendor/magnific-popup/magnific-popup-init.js' %}"></script>



                <script src="{% static './vendor/validator/jquery.validate.js' %}"></script>
                <script src="{% static './vendor/validator/validator-init.js' %}"></script>
                <script src="{% static './vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
                <script src="{% static './js/scripts.js' %}"></script>

                <script type="text/javascript">

                    const form = document.getElementById('buying');
                    form.addEventListener("submit", submithandler);


                    function submithandler(e) {
                        e.preventDefault();

                        $.ajax({
                            type: 'POST',
                            url: "{% url 'home:account_exchange' %}",
                            data: {
                                amount: $('#amount').val(),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function (resp) {
                                switch (resp.alarm) {
                                    case "not_enough":
                                        alert("not enought money in your wallet")
                                        break;
                                    case "successful":
                                        $("#remaining").html(resp.new_balance + " USD")
                                        $("#remaining-btc").html((resp.new_btc_balance).toFixed(6) + " BTC")
                                        $("#amount").attr("placeholder", "{{amount}} BTC").val("").focus().blur();
                                        rows = `<tr>
                                                <td><span class="sold-thumb"><i class="mdi mdi-arrow-down"></i></span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-success p-2">
                                                        Buy
                                                    </span>
                                                </td>
                                                <td>
                                                    <i class="cc {{coin}}"></i> {{coin}}
                                                </td>
                                                <td>
                                                    User - {{user}}
                                                </td>
                                                <td class="text-success">
                                                    <span class="text-success">
                                                        +{{i.amount|floatformat:4}} BTC
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="text-danger">
                                                        -{{i.usd|floatformat}} USDT
                                                    </span>
                                                </td>
                                            </tr>`
                                        $('#activitytable tbody').append(rows)
                                        var url = $("#amount").val();
                                        console.log(url)
                                        $('#buyhere').append(url)
                                        alert("you have successfully bought " + resp.amount + " BTC")
                                        break;
                                    case "empty":
                                        alert("You have to enter a number")
                                        break;
                                    default:
                                    // code block
                                }
                            }
                        });
                    }


                    const form2 = document.getElementById('selling');
                    form2.addEventListener("submit", submithandler2);


                    function submithandler2(e) {
                        e.preventDefault();

                        $.ajax({
                            type: 'POST',
                            url: "{% url 'home:account_exchange' %}",
                            data: {
                                amount_sell: $('#amount_sell').val(),
                                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                            },
                            success: function (resp) {
                                switch (resp.alarm) {
                                    case "not_enough":
                                        alert("not enought Bitcoin in your wallet")
                                        break;
                                    case "successful":
                                        alert("you have successfully sold " + resp.amount + " BTC")
                                        $("#remaining-btc").html((resp.new_btc_balance).toFixed(6) + " BTC")
                                        $("#remaining").html(resp.new_balance + " USD")
                                        $("#amount_sell").attr("placeholder", "{{amount}} BTC").val("").focus().blur();
                                        rows = `<tr>
                                                <td><span class="sold-thumb"><i class="mdi mdi-arrow-down"></i></span>
                                                </td>
                                                <td>
                                                    <span class="badge badge-danger p-2">
                                                        Sell
                                                    </span>
                                                </td>
                                                <td>
                                                    <i class="cc {{coin}}"></i> {{coin}}
                                                </td>
                                                <td>
                                                    User - {{user}}
                                                </td>
                                                <td class="text-danger">
                                                    <span class="text-danger">
                                                        -{{i.amount|floatformat:4}} BTC
                                                    </span>
                                                </td>
                                                <td>
                                                    <span class="text-success">
                                                        +{{i.usd|floatformat}} USDT
                                                    </span>                                       
                                                </td>
                                            </tr>`
                                        $('#activitytable tbody').append(rows)
                                        break;
                                    case "empty":
                                        alert("You have to enter a number")
                                        break;
                                    default:
                                    // code block
                                }
                            });
                        }
                    </script>
                    <script>
                        $(document).ready(function () {
                            $.ajax({
                                type: 'POST',
                                url: "{% url 'home:signals' %}",
                                dataType: "json",
                                data: {
                                    ali: "Ali",
                                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                                },
                                error: function (msg) {
                                    console.log(msg.responseText)
                                    return msg;
                                },
                                success: function (res) {
                                    console.log('data')
                                    console.log(res)
                                    // rowdata = data
                                    rows = ''
                                    res.data.filter(e => e.pair.slice(-3) == "BTC").filter(e => e._type == "BUY").map( (e, index) => {
                                        rows += `<tr>
                                            <td>${index + 1}</td>
                                            <td>${e._type}</td>
                                            <td>${'{{botamount}}'}</td>
                                            <td><a href="${e.pairurl}" style="text-decoration: none !important; color: inherit;" target="_blank">${e.pair}</td>
                                            <td>${e.price}</td>
                                            </tr>`
                                    })
                                    $('#signaltable tbody').append(rows)
                                }
                            })
                        })
                
                    </script>
</body>

</html>