{% load static%}
<!DOCTYPE html>
<html lang="en">
    {% include "components/dashboard-head.html" %}
<body>
    {% csrf_token %}
    {% include "components/dashboard-preloader.html" %}
    <div id="main-wrapper">
        {% include "components/dashboard-topnav.html" %}
        </div>

        {% include "components/dashbaord-sidebar.html" %}

        <div class="page-title dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="page-title-content">
                            <p>Welcome Back,
                                <span> {{ user.first_name }}</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <ul class="text-right breadcrumbs list-unstyle">
                            <li><a href="{% url 'home:setting'%}">Settings </a></li>
                            <li class="active"><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card sub-menu">
                            <div class="card-body">
                                <ul class="d-flex">
                                    <li class="nav-item">
                                        <a href="{% url 'home:setting'%}" class="nav-link">
                                            <i class="mdi mdi-account-settings-variant"></i>
                                            <span>Edit Profile</span>
                                        </a>
                                    </li>
                                    <!-- <li class="nav-item">
                                        <a href="./settings-preferences.html" class="nav-link">
                                            <i class="mdi mdi-settings"></i>
                                            <span>Preferences</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./settings-security.html" class="nav-link">
                                            <i class="mdi mdi-lock"></i>
                                            <span>Security</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="./settings-account.html" class="nav-link">
                                            <i class="mdi mdi-bank"></i>
                                            <span>Linked Account</span>
                                        </a>
                                    </li> -->
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h4 class="card-title">Personal Information</h4>
                                    </div>
                                    <div class="card-body">
                                        <form method="post" name="myform" class="personal_validate">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">First Name</label>
                                                    <input type="text" class="form-control" value="{{first_name}}"
                                                        name="first_name">
                                                </div>
                                                <!-- <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">Email</label>
                                                    <input type="text" class="form-control"
                                                        placeholder="{{email}}" name="email">
                                                </div> -->
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">Last Name</label>
                                                    <input type="text" class="form-control" value="{{last_name}}"
                                                         name="last_name">
                                                </div>
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">Address</label>
                                                    <input type="text" class="form-control"
                                                    value="{{address}}" name="address">
                                                </div>
                                                    <!-- <div class="form-group col-xl-6 col-md-6">
                                                        <label class="mr-sm-2">Date of birth</label>
                                                        <input type="text" class="form-control"
                                                        value="{{dob}}"
                                                            name="dob">
                                                    </div> -->
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">City</label>
                                                    <input type="text" class="form-control" value="{{city|default_if_none:''}}"
                                                        name="city">
                                                </div>
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">Postal Code</label>
                                                    <input type="text" class="form-control" value="{{postal_code|default_if_none:''}}"
                                                        name="postal_code">
                                                </div>
                                                <div class="form-group col-xl-6 col-md-6">
                                                    <label class="mr-sm-2">Country</label>
                                                    <input type="text" class="form-control" value="{{country|default_if_none:''}}"
                                                        name="country">                                  
                             
                                                </div>

                                                <div class="form-group col-12">
                                                    <button type="submit" class="btn btn-success px-4">Save</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "components/dashboard-footer.html" %}
        
    <script src="{% static './js/global.js' %}"></script>

    <script src="{% static './vendor/waves/waves.min.js' %}"></script>
    <script src="{% static './vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static './js/plugins/jquery-ui-init.js' %}"></script>
    <script src="{% static './vendor/validator/jquery.validate.js' %}"></script>
    <script src="{% static './vendor/validator/validator-init.js' %}"></script>
    <script src="{% static './js/scripts.js' %}"></script>

    <script>
    </script>
</body>

</html>