{% load static %}
<!DOCTYPE html>
<html lang="en">
{% include "components/dashboard-head.html" %}

<body>
    {% csrf_token %}
    {% include "components/dashboard-preloader.html" %}
    <div id="main-wrapper">

        {% include "components/dashboard-topnav.html" %}

        {% include "components/dashbaord-sidebar.html" with active="signals" %}


        <div class="page-title dashboard">
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="page-title-content">
                            <p>Welcome Back,
                                <span> {{ user.first_name }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-xxl-4">
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">Signals</h4>
                            </div>
                            <div class="card-body">
                                <div class="transaction-table">
                                    <div class="table-responsive">
                                        <table class="table table-striped mb-0 table-responsive-sm" id="signaltable">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Signaler</th>
                                                    <th scope="col">Platform</th>
                                                    <th scope="col">Time</th>
                                                    <th scope="col">Pair</th>
                                                    <th scope="col">Type</th>
                                                    <th scope="col">Price</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        {% include "components/dashboard-footer.html" %}

    </div>



    <script src="{% static './js/global.js' %}"></script>
    <script src="{% static './vendor/apexchart/apexcharts.min.js' %}"></script>
    <!-- <script src="{% static './js/dashboard.js' %}"></script> -->

    <script src="{% static './vendor/waves/waves.min.js' %}"></script>
    <script src="{% static './vendor/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>

    <script src="{% static './js/scripts.js' %}"></script>
    <script>
        $(document).ready(function () {
            console.log('B');
            $.ajax({
                type: 'POST',
                url: "{% url 'home:signals' %}",
                dataType: "json",
                data: {
                    ali: "Ali",
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
                },
                error: function (msg) {
                    console.log(msg.responseText)
                    return msg;
                },
                success: function (res) {
                    console.log('data')
                    console.log(res)
                    // rowdata = data
                    rows = ''
                    res.data.map(e => {
                        rows += `<tr><td>${e.signaler}</td><td>${e.platform}</td><td>${e.time}</td><td>${e.pair}</td><td>${e._type}</td><td>${e.price}</td></tr>`
                    })
                    $('#signaltable tbody').append(rows)
                }
            })
        })

    </script>
</body>

</html>