{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CryptoSim</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static './images/favicon-16x16.png' %}">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="{% static './vendor/nice-select/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static './vendor/waves/waves.min.css' %}">
    <link rel="stylesheet" href="{% static './css/style.css' %}">
</head>